* {
  box-sizing: border-box;
}

body {
  background-color: #1976d2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: #fff;
}

.counter {
  font-size: 60px;
}
