* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: beige;
}

.container {
  background-color: #898989;
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  min-width: 100%;
  width: 800px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 0;
  letter-spacing: 2px;
  opacity: 0.5;
}

.joke {
  font-size: 30px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}
